<!-- ST Footer Area -->
<div class="st-footer-area pt-120 pb-32" style="background-image: url(assets/images/footer/bg.jpg);background-position: center center;background-size: cover;background-repeat: no-repeat;">
	<div class="container">
		<div class="row ft_borer">
			<div class="col-lg-6 col-md-6 wow fadeInUpBig">
				<div class="st__footer__logo">
					<a href="#"> <img src="assets/images/logo/logogulf.png" alt="" style="height: 95px;"> </a>
				</div>
				<div class="st__footer__text">
					<p>A comprehensive, tech-enabled, and end-to-end fulfillment solution designed
						for retail and eCommerce brands to streamline B2B and B2C operations, improve
						efficiency, and deliver a superior customer experience.</p>
				</div>
				<!-- <div class="st__social__icon">
					<h2>Social Info</h2>
					<a href="#"> <i class="bi bi-facebook"></i> </a>
					<a href="#"> <i class="bi bi-twitter"></i> </a>
					<a href="#"> <i class="bi bi-pinterest"></i> </a>
					<a href="#"> <i class="bi bi-instagram"></i> </a>
				</div> -->
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUpBig">
				<div class="st__footer__title">
					<h2> Our Navigation </h2>
				</div>
				<div class="st__footer__link">
					<a href="/"> <i class="bi bi-chevron-double-right"></i> Home </a>
					<a href="/about"> <i class="bi bi-chevron-double-right"></i> About  </a>
					<a href="/service"> <i class="bi bi-chevron-double-right"></i> Service </a>
					<a href="/blog"> <i class="bi bi-chevron-double-right"></i> News & Media </a>
					<a href="/contact"> <i class="bi bi-chevron-double-right"></i> Contacts </a>
				</div>
			</div>			
			<div class="col-lg-3 col-md-6 wow fadeInUpBig">
				<div class="st__footer__title">
					<h2> Our Service </h2>
				</div>
				<div class="st__footer__link">
					<a href="#"> <i class="bi bi-chevron-double-right"></i> Reliability & Punctuality </a>
					<a href="#"> <i class="bi bi-chevron-double-right"></i> Trusted Franchise </a>
					<a href="#"> <i class="bi bi-chevron-double-right"></i> Warehoues Storage </a>
					<a href="#"> <i class="bi bi-chevron-double-right"></i> Real Time Tracking </a>
					<a href="#"> <i class="bi bi-chevron-double-right"></i> Transparent Pricing </a>
				</div>
			</div>			
			
		</div>
		<div class="row">
			<div class="col-lg-12 wow fadeInUpBig">
				<div class="st__footer__copyright text-center">
					<span> © Design and Developed by  <a href="https://www.cyenosure.com/"> Cyenosure </a>  </span>
				</div>
			</div>
		</div>
	</div>
</div>