<!-- ST Breadcumb Area -->
<div class="st-breadcumb-area pt-150" style="background: url(assets/images/breadcumb/breadcumb.jpg) no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcumb__top__content text-center wow fadeInUpBig">
					<!-- <span> Business Models you can Consider </span> -->
					<h2> Contact </h2>
				</div>
				<div class="breadcumb__links">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#"> / </a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ST FAQ Area -->
<div class="st-contact-section pt-100 pb-100">
	<div class="container">
		<div class="row align-items-center contact__bg">
			<div class="col-lg-5">
				<div class="st__contact__info">
					<div class="st__contact__title">
						<h2> Contact Informatlon </h2>
					</div>
					<div class="st__contactinfo__inner">
						<div class="st__cinfobox">
							<div class="st__cinfobox_icon">
								<i class="bi bi-geo-alt-fill"></i>
							</div>
							<div class="st__cinfobox_content">
								<h5> Location </h5>
								<span>  Usa, Canada, Uk, Europe, Gcc </span>
							</div>
						</div>
						<div class="st__cinfobox">
							<div class="st__cinfobox_icon">
								<i class="bi bi-phone-fill"></i>
							</div>
							<div class="st__cinfobox_content">
								<h5> Contact Number </h5>
								<a href="tel:0538330980"><span>RIYADH (HO) : 053 8330 980</span></a><br>
								<a href="tel:0544308508"><span>WARE HOUSE RIYADH : 0544 308 508</span></a><br>
								<a href="tel:0531007605"><span>JEDDAH : 053 100 7605</span></a><br>
								<a href="tel:0545862301"><span>AL GHAT  : 054 586 2301</span></a><br>
								<a href="tel:0550224780"><span>BURAIDA : 055 022 4780</span></a><br>
								<a href="tel:0500629263"><span>AL HASA  : 050 062 9263</span></a><br>
								<a href="tel:0503433723"><span>HAIL : 050 343 3723</span></a><br>
								<a href="tel:0559702203"><span>ONAIZAH  : 055 970 2203</span></a><br>
								<a href="tel:0553175473"><span>HAFAR ALBAIN  :055 3175 473</span></a><br>
								<a href="tel:0543591837"><span>AL JOUF : 054 359 1837</span></a><br>
								<a href="tel:0538866793"><span>TABUK : 053 886 6793</span></a><br>
								<a href="tel:0538866793"><span>CARGO WORLD JEDDAH : 054 0873 039</span></a><br>
								<a href="tel:9847803696"><span>INDIA  : 98478 03696</span></a><br>
							</div>
						</div>
						<div class="st__cinfobox">
							<div class="st__cinfobox_icon">
								<i class="bi bi-chat-square-fill"></i>
							</div>
							<div class="st__cinfobox_content">
								<h5> Email Us </h5>
								<a href="mailto:info@gulfcargoksa.com"><span>info@gulfcargoksa.com</span></a>
							</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-lg-7">
				<div class="st__contact__right">
					<div class="st__contact__right__title">
						<h2> Get A Quote </h2>
					</div>
					<form action="/admin/Addcontact" method="post">
						<div class="row">
							<div class="col-lg-6 wow fadeInUp">
								<div class="st__form__box">
									<input type="text" name="name" placeholder="Your Name" required>
								</div>
							</div>
							<div class="col-lg-6 wow fadeInUp">
								<div class="st__form__box">
									<input type="email" name="email" placeholder="Email Address" required>
								</div>
							</div>					
							<div class="col-lg-6 wow fadeInUp">
								<div class="st__form__box">
									<input type="number" name="phone" placeholder="Phone Number" required>
								</div>
							</div>					
							<div class="col-lg-6 wow fadeInUp">
								<div class="st__form__box">
									<input type="text" name="subject" placeholder="Subject" required>
								</div>
							</div>						
							<div class="col-lg-12 wow fadeInUp">
								<div class="st__form__box">
									<textarea placeholder="Write Your Question Here" name="message" cols="30" rows="7" required></textarea>
								</div>
							</div>					
							<div class="col-lg-12 wow fadeInUp">
								<div class="st__form__box">
									<button class="st__btn2" type="submit"> Request Quote <i class="bi bi-arrow-right"></i> </button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="st-map-area">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="st__map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14504.111074024035!2d46.8344516!3d24.6571725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2fa9ea1e1191b3%3A0x3bc65cc630172b85!2sGulf%20Cargo!5e0!3m2!1sen!2sin!4v1719332919826!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</div>